/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 } 
   .parallax-container .section {
     width: 100%;
   } 
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 /* ------------------------------------------------  */

 /* header */

 .brand-logo {
   font-weight: 900;
 }

 .about-sections a {
   font-weight: bolder;
   margin-right:-30px;
   color: black;
 }

 .sidenav {
  background-image: linear-gradient(-90deg, #18aadbd7, #bfbe7e);    
  font-weight: bold;
 }


 /* MISSION - HOW - WHERE SECTION */

 .section {
   padding-bottom: 4vw;   
   padding-top: 4vw;
 }

/* Parallax Section */





/* INTERESTED Section */

.tabs .indicator {
  background-color: #1DAADa;
}
.tabs .tab a:focus, a.tabs .tab a:focus.active {
  background: linear-gradient(-90deg, #18aadb3f, #bfbe7ee7);
}

  .googleMapsSection {
    height: 400px;
    margin-top: 4vw;
    border-top: 4vw;
}

/* FOOTER */

.social-icons li{
  display: inline-block;
}




 /* HOVER CSS */
 .about-sections a:hover {
   font-size: 17px;
   font-weight: 900;
   text-decoration: underline;
   color:#18aadb;
  background: none;
 }

 .brand-logo:hover {
  background-image: linear-gradient(-90deg, #18aadb57, #bfbe7ea1);  
  padding-right: 30px;
  padding-left: 30px;
  font-size:40px;
 }



 .sidenav a:hover {
   font-weight: bolder;
   color:white;
 }



 /* MEDIA QUERIES */
 
 
 