/* TEMPLATE CSS */

body { 
    background: rgb(255, 255, 255) !important; 
    max-height: 900px;
}


.wrapper {
    margin-right:5px;
    margin-left: 5px;
}

.hero-unit_background-image {
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url("../images/background/worlddots.jpg");
    background-size: cover;
    opacity: 0.10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.template-navbar {
    color: black;
    background-image: linear-gradient(-90deg, #18aadb, #bfbe7e);    
    border-bottom: 5px solid lightgrey;
    height: 90px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
}

.template-navbar h1 {
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0px;
    color: whitesmoke;
}

.template-navbar h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    /* font-style: italic; */
}

/* DONORS PAGE CSS */

/* Filter Box */
.filter-box {
    /* font-size: 50px; */
    /* font-weight: bolder; */
    margin-top: 10px;
    /* border-top: 1px solid #bfbe7e9f; */
    /* border-bottom: 1px solid #bfbe7e9f; */
    height: 550px;
}

.filter h3 {
    font-size: 15px;
    margin-left: 40px;
}

.filter li {
    font-size: 10px;
    margin-left: 40px;

}
.filter li:hover {
    color:#bfbe7e9f;
    font-weight: bold;
    cursor:pointer; 

}   
.filter h3:hover {
    font-weight: 900;
    text-decoration: underline;
    cursor:pointer; 
}
#filter-header:hover {
    font-weight: 700;
    text-decoration: underline;
    cursor:pointer; 
}
.mentor-search, .nonprofit-search {
    font-size: 10px;
    border: 1px solid black;
    margin-left: 40px;

}

/* Donation Cart Box */

.donation-cart {
    margin-top: 10px;
    /* border-top: 1px solid #18aadb79; */
    height: 550px;
}

.donation-cart h3{
    font-size: 24px;
}

.donation-cart-list {
    height: 400px;
}

.donation-total p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 10px;
    text-decoration: underline;
}

/* .donation-total {
    border-bottom: 1px inset #18aadb79;
} */
#donationTotal {
    font-size: 30px;
    font-weight: bolder;
    color: #18aadb;
    padding: 0px;
    margin-top: -5px;
    padding-bottom: 5px;
    text-decoration: none;
}

/* Project List */

#project-list {
    height: 600px;
    margin-top:10px;
    /* background-color:rgba(236, 236, 236, 0.25); */
    border-right: 2px solid #18aadb49;
    border-left: 2px solid #bfbe7e9f;
    background-image: linear-gradient(-90deg, #18aadb10, #bfbe7e1a);    




/* Donor Media Queries */
/* GOAL IS TO MAKE THE FILTER DISAPEAR AND HAVE THE FEED SPAN COL-11 */
/* SMALLEST SIZE SHOULD HAVE FEED SPAN COL-12 AND DONATION BELOW */
/* 705px smallest with all columns */
@media screen and (max-width: 1000px) {
.filter h3, .filter li, .mentor-search, .nonprofit-search  {
    margin-left: 1px;
}
.mentor-search, .nonprofit-search {
    width: 100px;
}

.donation-total p {
    font-size: 12px;
}
#donationCartItems {
    font-size: 10px;
}
#donationTotal {
    font-size:20px;
}
.wrapper {
    margin-right:0px;
    margin-left:0px;
}
.donation-cart h3 {
    font-size: 20px;
}
}



/* @media screen and (max-width: 800px) {
    
}} */

/* @media screen and (max-width: 800px) {
    .filter-box  {
        
}
    .donation-cart  {
        
}
    .project-list  {

    }} */

/* }
@media screen and (max-width: 800px) {
    
}} */


/*
@media screen and (max-width: 750px) {
    .filter-box  {
    display: none;    
}}

@media screen and (max-width: 750px) {
    .project-list  {
        width: 90%;
}} */

