/* TEMPLATE CSS */

body { 
    background: whitesmoke !important; 
    max-height: 900px;
}

.template-navbar {
    color: black;
    background-color: #0059ff;
    border-bottom: 5px solid grey;
    height: 90px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
}

.template-navbar h1 {
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0px;
    color: whitesmoke;
}

.template-navbar h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    font-style: italic;
}

/* MENTORS PAGE CSS */

body {
    background-color: whitesmoke;
}

#mentor-act-tabs {
    padding-top: 10px;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 10px;
    border: 5px solid gray;
    height: 600px;
    background-color: lightgrey;
    border-style: groove;
    }
    
    #project-status {
        padding-top: 10px;
        font-size: 50px;
        font-weight: bolder;
        margin-top: 10px;
        border: 5px solid gray;
        height: 600px;
        background-color: lightgrey;
        border-style: groove;
    }
    
    #mentor-feed {
        height: 600px;
        margin-top: 10px;
    } 
    
    #feed-input {
        background-color:rgba(216, 216, 216, 0.5);
        height: 600px;
    }
    